@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

html,
body {
  height: 100%;
  background: #faf7f5;
}

body {
  color: #1c1b19;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
}
